@import "bootstrap/scss/functions";

$font-family-base: "Montserrat, Sans Serif"; // Fuente base
$btn-font-family: "Oswald Regular, Sans Serif"; // Fuente de los botones

// TODO Cambiar la sombra de shadow-sm
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Sombra de las tarjetas

$primary: #f28c28;
$secondary: #4a6fa5;
$danger: #e07a5f;
$light: #f0f4f8;
$dark: #2d2d2d;

$body-bg: $primary; // Background del body

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap.scss";

.nav-link {
  transition: all 0.7s;

  &:hover {
    color: $secondary !important;
    transform: scale(1.05);
  }
}
