@import 'bootstrap/scss/functions';

$font-family-base: 'Montserrat, Sans Serif'; // Fuente base
$btn-font-family: 'Oswald Regular, Sans Serif'; // Fuente de los botones

// Colores personalizados para la aplicación
$primary: #f28c28;
$secondary: #4a6fa5;
$danger: #e07a5f;
$light: #f0f4f8;
$dark: #2d2d2d;

$input-bg: $light; // Background del input
$input-border-color: $secondary; // Borde del input
$input-color: $dark; // Color del texto del input
$input-focus-box-shadow: $dark; // Sombra del input al hacer focus
$input-focus-border-color: $dark; // Borde del input al hacer focus
$input-border-width: 2px; // Grosor del borde del input

$box-shadow: -3px -3px 30px $primary; // Sombra de los elementos

$body-bg: $primary; // Background del body

$btn-hover-bg-tint-amount: 0; // Quito la opacidad del hover de los botones

$modal-backdrop-bg: $light; // Background del modal
$modal-content-bg: $light; // Background del contenido del modal
$modal-content-color: $dark; // Color del contenido del modal
$modal-show-transform: scale(1.2); // Escala del modal

$alert-bg-scale: 1.1; // Escala del alert
$alert-border-width: 2px; // Grosor del borde del alert
$alert-color-scale: 1.1; // Escala del color del alert

$navbar-dark-color: $light; // Color del texto
$navbar-light-hover-color: $secondary; // Color en hover
$navbar-light-active-color: $dark; // Color del enlace activo
$navbar-light-brand-color: $primary; // Color del brand
$navbar-toggler-border-color: $light; // Color del borde del toggler
$navbar-toggler-icon-bg: $light; // Color del icono toggler

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap.scss';

.nav-link {
  transition: all 0.7s;

  &:hover {
    color: $secondary !important;
    transform: scale(1.05);
  }
}

.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra ligera
}

.nav-link {
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;

  &:hover {
    color: $secondary !important;
    transform: scale(1.05);
  }

  &.active {
    color: $dark !important;
  }
}

.navbar-icons {
  display: flex;
  gap: 1rem;

  a,
  i {
    color: $light;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $secondary;
      transform: scale(1.1);
    }
  }
}

@import 'hover.css/css/hover-min.css';
