---
interface Props {
  name: string;
  price: number;
  img: string;
}
const { name, price, img } = Astro.props;
console.log(name, price, img);
---

<div class="card bg-light shadow-lg" style="width: 10rem;">
  <img class="card-img-top" src={img} alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title text-center">{name}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">
      {price} $
    </h6>
  </div>
</div>
