---
import Layout from "../layouts/Layout.astro";
---

<footer class="w-100 bg-primary fw-bold rounded-top">
  <div class="row p-3">
    <div class="col-2">
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="/icons/instagram.png" alt="Logo instagram" width="48" />
        <img src="/icons/twitter.png" alt="Logo instagram" width="48" />
        <img src="/icons/facebook.png" alt="Logo instagram" width="48" />
      </div>
    </div>
    <div class="col-5">
      <h3>CONOCENOS</h3>
      <ul class="list-unstyled d-flex flex-column gap-2 px-5">
        <li>Quienes somos</li>
        <li>Politicas de devoluciones</li>
        <li>Politicas de compras</li>
      </ul>
    </div>
    <div class="col-5">
      <h3>ENLACES DE INTERES</h3>
      <ul class="list-unstyled d-flex flex-column gap-2 px-5">
        <li>Antes de comprar</li>
        <li>Mi lista de deseos</li>
        <li>Politicas de cookies</li>
      </ul>
    </div>
  </div>
  <div class="row m-1">
    <div class="col-12 d-flex justify-content-around gap-3">
      <h3 class="ml-5">FORMAS DE PAGO</h3>
      <img src="/icons/apple-pay.png" alt="Logo american express" width="48" />
      <img src="/icons/visa.png" alt="Logo visa" width="48" />
      <img src="/icons/mastercard.png" alt="Logo mastercard" width="48" />
      <img src="/icons/paypal.png" alt="Logo paypal" width="48" />
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="text-center bg-dark text-light p-3">
          Copyrigth &copy; 2024 Funkonnection.com - Todos los derechos
          reservados
        </h3>
      </div>
    </div>
  </div>
</footer>
